@use '../abstracts/' as a;

.container {
    @include a.breakpoint ('large') {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: a.rem(20px);
    }
}